.error-container {
    border: 10px solid lightsalmon;
    border-radius: 30px;
    width: 40%;
    text-align: center;
    margin: 50px auto;
    background-color: salmon;
    padding: 50px;
    color: white;
    box-shadow: 10px 10px 10px lightgray;
    transition: 0.3s linear;
}

.error-container h1 {
    font-size: 80px;
}

.error-container h5 {
    font-size: 40px;
}

.error-container:hover {
    transform: scale(1.1);
}