.product-container {
    display: flex;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.product-container-text {
    margin-left: 10px;
}

.product-container-text h5 {
    cursor: pointer;
}

.product-container-text p {
    font-weight: 700;
}

.product-container-text button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    cursor: pointer;
    transition: 0.1s linear;
}

.product-container-text button:active {
    transform: scale(0.9);
}